nav {
  width: 100%;
  color: #747b87;
  font-size: 14px;
  background: #ffff;
}

.nav__container {
  max-width: 1260px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: calc(3.4rem - 1rem);
}

.logo__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo__menu ul {
  display: flex;
  gap: 2rem;
}

.logo__menu ul li {
  list-style: none;
  padding: 1.5rem 0;
  border: 1px solid transparent;
}

.logo__menu ul li:hover,
.username p:hover {
  color: #52575f;
  cursor: pointer;
  border-bottom: 1.2px solid #52575f;
}

.username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.username p:hover {
  border: transparent;
}

.username p {
  padding: 1.5rem 0;
}

.username button {
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  background: rgb(156, 34, 34);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
