* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f4f6;
}

a {
  text-decoration: none;
  color: #747b87;
}

section {
  max-width: 1260px;
  margin: auto;
  padding: 0.5rem 0.8rem;
  background: white;
}

.list {
  padding: 0;
  border: 0.2px solid rgb(226, 226, 226);
  border-radius: 0.3rem;
}

.title {
  background: white;
  padding: 1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0 5px -1px,
    rgba(0, 0, 0, 0.06) 0px 0 2px -1px;
  color: #1f2936;
  margin-bottom: 2rem;
}

nav {
  width: 100%;
  color: #747b87;
  font-size: 14px;
  background: #ffff;
  border-bottom: 0.2px solid rgb(226, 226, 226);
}

.logout {
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  background: rgb(156, 34, 34);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.loading__status {
  margin: auto;
  width: max-content;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.home .title section {
  display: flex;
  justify-content: space-between;
}

.home .title section button {
  background: #1f2936;
  color: white;
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.home .title section button:hover {
  background: #2f3e52;
}

.home__buttons {
  display: flex;
  gap: 1rem;
}

.active-link > li {
  background: blue;
}
